<div>
  <h2>Summary</h2>

  <div id="places-track" class="bottom-container1">
    <div *ngFor="let element of places">
      <details>
        <summary>{{ element.address }}</summary>
        <div>{{ element.address }}</div>
      </details>
      <button
        routerLink="/editplace"
        routerLinkActive="active"
        class="icon-place-button"
        (click)="test(element.orderId!)"
      >
        {{ element.address }}
      </button>
    </div>

    <span id="zero-places-span" class="bottom-container-text">
      Zero places in your track</span
    >
  </div>

  <button class="icon-button" type="submit" (click)="onSubmit()">
    Save game
    <!-- <span class="button-text-content">Save all places</span> -->
  </button>
</div>

<!-- <button class="icon-button" type="submit" (click)="onSubmit()">
  Save game
</button>

<div id="places-track" class="bottom-container1">
  <span id="zero-places-span" class="bottom-container-text">
    Zero places in your track</span
  >
</div> -->
