<nav>
  <ul>
    <li>
      <a routerLink="/createcitygame" routerLinkActive="active"
        >Create City Game</a
      >
    </li>
  </ul>
</nav>

<div>
  <div id="parent">
    <h1>RemLoc City Game</h1>

    <div id="grid-container-parent" class="grid-container">
      {{ startTrackDrawing() }}
    </div>
    <div class="start-button-container">
      <button class="icon-button">
        <span class="start-button-text" id="start-button">Start</span>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
