.icon-button {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;

  margin: 0 auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  border-radius: 48px !important;
  padding-left: 0.25em;
  width: fit-content;
  border: none;

  cursor: pointer;
  font-weight: 600;
  font-size: 1.125em;
  line-height: 2.5 !important;
  vertical-align: middle;
  padding: 0 1em;
  user-select: none !important;
  min-width: 120px;
  letter-spacing: 1px;
  /* padding-left: 2em !important;*/
  position: relative;
  backface-visibility: hidden;
  transform: translatey(0) scale3d(1, 1, 1);
  transition: all 100ms !important;
}

.icon-button:hover {
  color: rgba(white, 0.75);
}
.icon-button:active {
  color: rgba(white, 0.5) !important;
  transform: translatey(4px) scale3d(0.98, 0.98, 0.98);
  outline: none !important;
}
.icon-button:focus {
  outline: none !important;
  box-shadow: 0 0 1px 3px rgba(blue, 0.4);
}

/* .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .form__field::placeholder{
    color: transparent;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
  }

  .form__label::placeholder{
    font-size: 1.3rem;
      cursor: text;
      top: 20px;
  } */

/* .form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
} */
