body {
  background: linear-gradient(to bottom, #330099, #6600cc);
}


.form__group {
  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}


.form__label {
  font-size: 16px;
  color: white;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 140px;
}


.form__field {
  font-size: 14px;
  padding: 8px 12px;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;  
}


select {
  font-size: 14px;
  padding: 8px 12px;
  width: 50%;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
  color: #a9a9a9;
}


.button-to-track-page-container {
  display: flex;
  justify-content: center;
}


.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(to left, #f5fc90, #f090fc);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-button:hover {
  background: linear-gradient(to right, #f5fc90, #f090fc);
  color: #fff;
}

/* styles for the input fields */
input[type="text"],
input[type="datetime-local"] {
  font-size: 14px;
  padding: 8px 12px;
  width: 46%;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
}
