/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to bottom, #84ceeb 20%, #8860d0 100%) fixed;
}

h1 {
  font-family: "JetBrainsMono-Regular";
  font-size: 64px;
  text-align: center;
}

h2 {
  font-family: "JetBrainsMono-Regular";
  font-size: 48px;
  text-align: center;
  color: white;
}

.track {
  transform: rotate(135deg);

  /*-moz-transform: rotate(135deg);*/ /*for Firefox*/
  /*-ms-transform: rotate(135deg);*/ /*	for IE  */
  /*-o-transform: rotate(135deg);*/ /*for Opera*/

  /* 	for browsers supporting webkit (such as chrome, firefox, safari etc.). */
  /*-webkit-transform: rotate(135deg);*/

  display: inline-block;
  width: 50px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 3em; /*48px;*/ /* Preferred icon size */
  display: inline-block;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text for Task 1*/
.tooltip .tooltiptext1 {
  visibility: visible;
  width: 200px;
  height: 100px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 28px;
  /*padding: 5px 0;*/
  border-radius: 100px;
  border-radius: 100px / 50px;

  bottom: 100%;
  right: -20%;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext1::after {
  content: " ";
  position: absolute;
  top: 80%; /* At the bottom of the tooltip */
  left: 90%;

  border-top: 25px solid red;
  border-left: 10px solid transparent;

  transform: rotate(-30deg);

  margin-left: -5px;
  /*border-width: 5px;*/
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* Tooltip text for Task 2*/
.tooltip .tooltiptext2 {
  visibility: visible;
  width: 120px;
  height: 60px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 18px;
  /*padding: 5px 0;*/
  border-radius: 100px;
  border-radius: 100px / 50px;

  bottom: 70%;
  left: 80%;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext2::after {
  content: " ";
  position: absolute;
  top: 60%; /* At the bottom of the tooltip */
  right: 90%;

  border-top: 25px solid red;
  border-left: 10px solid transparent;

  transform: rotate(45deg);

  margin-left: -5px;
  /*border-width: 5px;*/
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* Tooltip text for Task 3*/
.tooltip .tooltiptext3 {
  visibility: visible;
  width: 140px;
  height: 70px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 21px;
  /*padding: 5px 0;*/
  border-radius: 100px;
  border-radius: 100px / 50px;

  top: 180%;
  right: 30%;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext3::after {
  content: " ";
  position: absolute;
  bottom: 70%; /* At the bottom of the tooltip */
  left: 80%;

  border-top: 25px solid red;
  border-left: 10px solid transparent;

  transform: rotate(240deg);

  margin-left: -5px;
  /*border-width: 5px;*/
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* Tooltip text for Final place*/
.tooltip .tooltiptext4 {
  visibility: visible;
  width: 160px;
  height: 80px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 24px;
  /*padding: 5px 0;*/
  border-radius: 100px;
  border-radius: 100px / 50px;

  bottom: 250%;
  right: -360%;
  /*right: -30%;*/

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext4::after {
  content: " ";
  position: absolute;
  top: 80%; /* At the bottom of the tooltip */
  left: 60%;

  border-top: 25px solid red;
  border-left: 10px solid transparent;

  transform: rotate(-15deg);

  margin-left: -5px;
  /*border-width: 5px;*/
  border-style: solid;
  border-color: white transparent transparent transparent;
}

#parent {
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(22, 48px);
  grid-template-rows: repeat(8, 26px);

  position: absolute;

  left: 15%;
  padding-top: 3%;
}

.item {
  grid-column: 1;
  grid-row: 9;
}

.item1 {
  grid-column: 1;
  grid-row: 9;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.add-place-container {
  position: relative;
  height: 100%;
}

.container-form {
  height: 90%;
  /* overflow: auto; */
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 10%;
}
/**/

.next-page-button-text {
  background-clip: text;

  background: -webkit-linear-gradient(#84ceeb 20%, #8860d0 100%) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  /* margin: 0 auto;
          / margin-left: 0.25em;*/

  font-size: 18px !important;
  line-height: 2.5 !important;
}

.button-to-track-page-container {
  padding-top: 20%;
}

.button-icon {
  background-clip: text;

  background: -webkit-linear-gradient(#84ceeb 20%, #8860d0 100%) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  left: 0.7em;

  font-size: 24px !important;
  line-height: 1 !important;
}
/* .button-text-content {
  background-clip: text;

  background: -webkit-linear-gradient(#84ceeb 20%, #8860d0 100%) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
          / margin-left: 0.25em;
  padding-left: 0.7em;
  font-size: 18px !important;
  line-height: 2.5 !important;
  margin-left: 1.25em;
} */

.bottom-container {
  background-color: white;
  width: 100vw;
  height: 4em;
  line-height: 4em;
  position: absolute;
  bottom: 0;
  right: 0;

  text-align: center;
}

@font-face {
  font-family: JetBrainsMono-Regular;
  src: url(./assets/fonts/JetBrainsMono-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(./assets/material-icons/MaterialIconsOutlined-Regular.otf)
      format("opentype"),
    url(./assets/material-icons/MaterialIcons-Regular.ttf) format("truetype");
}
