<div id="main-place-container" class="add-place-container">
  <div class="container-form">
    <h2>Create your own track</h2>

    <form (ngSubmit)="onSubmit()" #placesForm="ngForm">
      <label for="address" class="form-input-label"> <h3>Address</h3> </label>
      <br />

      <input
        class="form-input-field"
        type="text"
        id="address"
        name="address"
        [(ngModel)]="placeInGame.address"
        focusout="addressChanged($event)"
        required
        #address="ngModel"
      /><br />

      <label for="legend" class="form-input-label">
        <h3>Legend of this place</h3> </label
      ><br />

      <textarea
        class="form-input-field"
        id="legend"
        name="legend"
        [(ngModel)]="placeInGame.legend"
        required
        #legend="ngModel"
        cols="40"
        rows="5"
      ></textarea
      ><br />
    </form>

    <label for="imageUrl" class="form-input-label"> <h3>Image URL:</h3></label>
    <input
      class="form-input-field"
      id="imageUrl"
      type="text"
      name="imageUrl"
      [(ngModel)]="placeInGame.photoLink"
      required
      #imageUrl="ngModel"
      (input)="updateImagePreview()"
    />
    <br />
    <img id="image-preview" src="" />

    <div id="error-message" class="error"></div>

    <button class="icon-button" type="submit" (click)="onSubmit()">
      <span class="button-icon material-icons">add</span>
      <span class="button-text-content">Add new place</span>
    </button>

    <button
      routerLink="/summary"
      routerLinkActive="active"
      class="icon-button"
      type="submit"
    >
      Save all places
    </button>
  </div>

  <div #mapContainer id="map"></div>
</div>
